* {
  box-sizing: border-box;
}

/* Add body */
body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: black;
  background-color: beige;
  line-height: 1.5;
  padding: 10px;
  margin: 0px;
}
h1,
h2,
h3,
h4{
  margin: 0;
}
p {
  margin: 0;
}  

/* Add header */
header{
  padding: 15px 6% 15px 0;
  display: flex;
  direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: beige;
  box-shadow: 0 5px 35px whitesmoke;
}
header h1 {
  margin: 0;
  color: lightcoral;
  background-color: beige;
  font-family: cursive;
  font-size: 4vw;
  line-height: 1;
  padding: 15px 1% 5px 6%;
}

/* Add Navigation and hover */
nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
nav a {
  text-decoration: none;
  padding: 5px 10px;
  color: lightcoral;
  margin-right: 10px;
}
nav a:hover {
  background-size: 100% 100%;
  color: aquamarine;
}
.hero {
  background-color: lightcoral;
}

/* Add Main */
main{
  margin: 20px auto 45px auto;
  max-width: 85%;
}

/* Add sectionArea */
.sectionArea {
  margin: 25px 0;
  padding: 10px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
}
.sectionArea > h2{
  flex: 0 0 20%;
  text-align: right;
  padding-right: 15px;
  border-right: 4px soild aqua;
  font-size: 3vw;
  line-height: 1.1;
}
.sectionArea > div {
  flex: 0 0 77%;
}
.sectionArea p {
  margin-bottom: 20px;
}
.about {
  display: flex;
}
.about img {
  margin-right: 10px;
}
.container-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
/* Add Flexbox */
.flexbox {
  border: 5px solid lightsalmon;
  background-color: aliceblue, 0 - 1;
  color: black;
  min-height: 150px;
  max-height: 150px;
  flex-basis: calc(50% - 1em);
  display: flex;
  align-items: flex-end;
  padding: 0 0 20px 0;
  margin: 0.5em;
  background-blend-mode: soft-light;
  background-size: 150%;
  transition: all 0.5s;
  font-size: 0.9rem;
}
.flexbox:first-child {
  min-height: 400px;
  flex-basis: 100%;
}
.flexbox:hover {
  background-color: aqua;
 /* background-blend-mode: multiply; */
}
.flexbox div {
  background-color: aqua;
  padding: 8px 10px;
}
.flexbox h3 {
  font-size: 1.6rem;
}
/* contactArea */

.contact address a {
  /* flex: 0 0 20%; */
  /* padding-right: 15px; */
  /* color: lightcoral; */
  /* text-decoration: none; */
  /* padding: 5px 10px; */
  font-size: 1.3rem;
  color: lightcoral;
  margin: 0 0.2rem 0.1rem 0;
  background-color: antiquewhite;
  padding: 10px;
  box-shadow: 0 5px 15px aqua;
  display: inline-block;
}

.contact address a:hover {
  background-size: 100% 100%;
  color: aqua;
  /* flex: 0 0 20%; 
  text-align: left;
  border-right: 10px soild aqua;
  font-size: 2vw;
  line-height: 1.1;
  color: lightcoral;
  margin-left: 10px;
  background-color: antiquewhite;
  padding-right: 10px;
  box-shadow: 0 5px 15px aqua; */
}
.park {
  background-image: url("../images/Sequoia.jpg");
}
.generator {
  background-image: url("../images/Password.jpg");
}
.scheduler {
  background-image: url("../images/Planner.jpg");
}
.pastel {
  background-image: url("../images/Code.jpg");
}
.run {
  background-image: url("../images/Engineering.jpg");
}
.code {
  background-image: url("../images/colorfulcode.jpg");
}

/* Media Queries */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}